.selectedItem {
    background-color: lightyellow;
    font-weight: bold;
}

.detailsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.detailsTable th, .detailsTable td {
    border: 1px solid #ccc;
    padding: 10px;
}

.detailsTable th {
    background-color: #f7f7f7; /* A subtle background for table headers */
    text-transform: uppercase;
    font-size: 0.9em;
}