.camera-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.video-and-capture {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

video {
	align-self: center;
}

.captured-image {
	max-width: 480px;
	max-height: 360px;
}

.button-container {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.error-message,
.instruction-text {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}