*, *::before, *::after {
    box-sizing: border-box;
}

.responsive-table-container {
    overflow-x: auto;  /* Enables horizontal scrolling if needed */
    max-width: 100%;  /* Ensures the table container doesn't extend past the screen */
}

.detailsTable {
    width: 100%;
    max-width: 100%; /* Ensure max-width is 100% */
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;  /* This can help with consistent column widths */
}

.detailsTable th, .detailsTable td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    word-wrap: break-word;  /* Ensure content wraps */
    overflow-wrap: break-word;  /* Break long words as needed */
}

.detailsTable th:nth-child(2),
.detailsTable td:nth-child(2) {
    width: 100%;  /* Make the second column take up the remaining space */
}

.detailsTable th {
    background-color: #f7f7f7;  /* A subtle background for table headers */
    text-transform: uppercase;
    font-size: 0.9em;
}

/* Mobile devices */
@media (max-width: 768px) {
    .detailsTable, .detailsTable tbody, .detailsTable th, .detailsTable td, .detailsTable tr {
        display: block;
        width: 100%;
    }

    .detailsTable thead {
        display: none;  /* Hide headers */
    }

    .detailsTable td, .detailsTable th {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.625rem;
    }
}

.signature-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some top margin for spacing */
}

