.signature-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;  /* Prevents child elements from overflowing */
}

.signature-canvas {
    display: block;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-sizing: border-box; /* Ensures that any border or padding doesn't add to its total width */
    width: 100%;  /* Set the display width to 100% */
}

.button-container {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signature-image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signature-image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .signature-canvas {
        min-height: 150px;
    }
}
